body {
  background: #add8e6;
  position: relative;
  top: 120px;
  height: 70%;
  border: 1px solid #c3c3c3;
  display: flex;
  align-content: center;
}

h1 {
  padding: 0.5em;
  margin: 0;
}

h2 {
  margin-top: 0.25em;
}

i {
  padding: 0 0.25em 0 0.25em;
}

div {
  margin: 2em auto;
  padding: 0 auto;
  background: white;
  border-radius: 8px;
}

.main {
  box-shadow: 3px 5px 45px black;
}

.form-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form {
  padding-bottom: 2em;
}

#result-text {
  padding-left: 1.1em;
  padding-bottom: 2em;
}
